{% extends "shopify/layout.html" %}

{% block title %} login {% endblock %}

{% block main %}
    <h1>Login</h1>
    <div class="center"> 
        <form class="form login-form" action="" method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            <input class="submit login-submit" type="submit", value="Login">
        </form>
    </div>
    <div class="center" style="margin-top: 20px;">
        <p>Don't have an account? <a href="{% url 'register' %}">Register</a>
    </div>
{% endblock %}