{% extends "shopify/layout.html" %}

{% block title %} register {% endblock %}

{% block main %}
    <h1>Register</h1>
    <div class="center">
        <form class="form login-form" action="" method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password1 }}
            {{ form.password2 }}
            <input class="submit login-submit" type="submit" , value="Register">
        </form>
    </div>
    <div class="center" style="margin-top: 20px;">
        <p>Already have an account? <a href="{% url 'login' %}">Log in</a>
    </div>

{% endblock %}