{% extends "shopify/layout.html" %}

{% block title %} register {% endblock %}

{% block main %}
    <h1>Register</h1>
    <div class="center"> 
        <form class="form login-form" action="" method="post">
            {% csrf_token %}
            <input class="input" type="text", name="username", placeholder="Username" autocomplete="off">
            <input class="input" type="password", name="password", placeholder="Password" autocomplete="off">
            <input class="input" type="password", name="password", placeholder="Password (Again)" autocomplete="off">
            <input class="submit login-submit" type="submit", value="Register">
        </form>
    </div>
{% endblock %}